<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="cn.edu.neusoft.meal.mapper.LetterDao">
    <select id="getMaxId" resultType="java.lang.Integer">
        select max(id) from letter
    </select>
   <insert id="addletter" parameterType="cn.edu.neusoft.meal.domain.Letter">
       INSERT INTO letter VALUES (#{id},#{lettername},#{lettercontext},#{belonguser})
   </insert>

    <delete id="DelLetterRelation" parameterType="cn.edu.neusoft.meal.domain.LetterAndUser" >
        delete from letteranduser where letterid=#{letterid}
    </delete>

    <delete id="DelLetter" parameterType="int" >
        delete from letter where id=#{del_id}
    </delete>

    <select id="FindLetters" resultType="cn.edu.neusoft.meal.domain.Letter">
        select * from letter
        where lettername like #{0}
        limit #{1},10
    </select>

    <select id="FindLetterById" resultType="cn.edu.neusoft.meal.domain.Letter">
        select * from letter WHERE id=#{id}
    </select>

    <select id="FindLettersByUser" resultType="cn.edu.neusoft.meal.domain.Letter">
        SELECT letter.lettername,letter.lettercontext FROM letter
        JOIN letteranduser ON letter.id=letteranduser.letterid
        JOIN user ON letteranduser.userid=user.id
        WHERE user.userName=#{0}
    </select>

    <select id="getLetterCount" resultType="long">
        select count(*) as m from letter
        WHERE lettername LIKE #{0}
    </select>

    <update id="editLetter" parameterType="cn.edu.neusoft.meal.domain.Letter">
        UPDATE letter SET lettername=#{lettername},lettercontext=#{lettercontext},belonguser=#{belonguser}
        WHERE id=#{id}
    </update>

</mapper>
