<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.neusoft.meal.mapper.StampDao">
<select id="listAll" resultType="cn.edu.neusoft.meal.domain.Stamp">
    SELECT * FROM stamp
</select>
<select id="findStampByid" resultType="cn.edu.neusoft.meal.domain.Stamp" >
    SELECT * FROM stamp WHERE stampid=#{0}
</select>
    <select id="findStampByUserName" resultType="cn.edu.neusoft.meal.domain.Stamp">
        SELECT * FROM stamp
        JOIN stampanduser ON
        stamp.stampid=stampanduser.stampid
         JOIN `user` ON
        stampanduser.userid=`user`.id
        WHERE user.userName=#{0}
    </select>
    <select id="getFindStamps" resultType="cn.edu.neusoft.meal.domain.Stamp">
        select * from stamp
        where stampname like #{0}
        limit #{1},10
    </select>
    <select id="getStampCount" resultType="long">
        select count(*) as m from stamp
        WHERE stampname LIKE #{0}
    </select>
    <select id="getMaxId" resultType="java.lang.Integer">
        select max(stampid) from stamp
    </select>
    <insert id="addStamp" parameterType="cn.edu.neusoft.meal.domain.Stamp" >
        INSERT INTO stamp VALUES (#{stampid}, #{stampname}, #{stamppc}, #{stampscore})
    </insert>
    <delete id="delStamp" parameterType="int" >
        delete from stamp where stampid=#{id}
    </delete>
    <update id="editStamp" parameterType="cn.edu.neusoft.meal.domain.Stamp" >
        update stamp set stampname=#{stampname},stampscore=#{stampscore}
        <if test="stamppc!=null and stamppc!=''">
            ,stamppc=#{stamppc}
        </if>
        WHERE stampid=#{stampid}
    </update>
</mapper>
